body {
    font-family: Arial, sans-serif;
    background: url("https://github.com/DorsaRoh/lungml/blob/main/backgropr.png?raw=true") no-repeat center center fixed; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to right, #f4f4f9, #e0c3fc);
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.custom-button {
    display: inline-block;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
}

.custom-button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

.image-preview {
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    border-radius: 10px;
    margin: 20px 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    overflow: hidden;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: none; /* hide the image initially */
}

#prediction-result {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}

label[for="file-input"] {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    display: inline-block;
}

label[for="file-input"]:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

input[type="file"] {
    display: none;
}
